<div class="container p-4">
    <div class="row">

        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-body">

                    <h3>Bienvenido <br> {{user.fullname}}</h3>



                    <a href="/lugares" class="btn btn-primary m-4">Registrá tus luares favoritos</a>
                </div>
            </div>

        </div>
    </div>

</div>